/* CSS通用样式表 */
/* text-align */
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.tj{text-align:justify;}
/* text-decoration */
.w100p{
  width: 100%;
}
.ml0{
  margin-left: 0!important;
}
/* 设置Button组件的相关样式 */
.primaryStyle{
  background-color: #409eff!important;
  color: white!important;

}
.warningStyle{
  background: #e6a23c!important;
  color: white!important;
}
.dangerStyle{
  background-color: #f56c6c!important;
  color: white!important;
}
/* 添加标签的样式 */
.site-tag-plus {
  background: #fff;
  border-style: dashed;
}
/* 标签输入框的样式 */
.tag-input {
  width: 78px;
  margin-left: 8px;
  margin-top: 10px;
  vertical-align: top;
}

.expandIcon{
  margin-right:8px;
}
/* 不同层次表格行的背景颜色 */
.levelOneRow{
  background-color: #e6f7ff;
}
.levelTwoRow{
  background-color: #f0f9eb;
}
.levelThreeRow{
  background-color: #fff7e6;
}


/* 重置ant-design组件的相关css */
.ant-tag{
  margin: 8px;
  padding: 8px;
}
/* tile uploaded pictures */
/* .upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
} */
.ant-empty{
  margin-top: 30px;
}
/* 设置富文本编辑器的样式 */
#root .ql-editor {
  min-height: 16em;
}